@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&display=swap');

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: 'Bebas Neue', cursive;
    --fonte-poesia: 'Courgette', cursive;
}

html,
body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-padrao);
}

header {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-variant: small-caps;
    font-family: var(--fonte-titulo);
    font-size: 5em;
}

main {
    padding: 30px;
    font-family: var(--fonte-poesia);
    font-size: 2em;
}

section {
    padding: 10vh 0vh 10vh 5vh;
    line-height: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(50, 50, 50);
    color: white;
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.39);
    width: 400px;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}